<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(products.length> 0) { %>
                    <ul>
                        <% for(const product of products) { %>
                            <li style="display: flex; align-items: center; gap: 10px">
                                <p>
                                    <%= product.title%> - (<%= product.cartItem.quantity %>)
                                </p>
                                <form action="/delete-cart-product" method="POST">
                                    <input type="hidden" name="productId" value="<%= product._id %>">
                                    <button type="submit" class="btn">Delete</button>
                                </form>
                            </li>
                            <% } %>
                    </ul>
                    <form action="/create-order" method="POST">
                        <button type="submit" class="btn">Order Now!</button>
                    </form>
                    <% } else { %>
                        <h1>The cart is empty!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>