<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(products.length> 0) { %>
                    <ul>
                        <% for(const product of products) { %>
                            <li style="display: flex; align-items: center; gap: 10px">
                                <p>
                                    <%= product.title%> - (<%= product.quantity %>)
                                </p>
                            </li>
                        <% } %>
                    </ul>
                    <form action="/create-checkout-session" method="POST">
                        <button class="btn" type="submit">Order Now</button>
                    </form>
                <% } else { %>
                        <h1>The checkout is empty!</h1>
                <% } %>
            </main>
            <%- include('../includes/end.ejs') %>