<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(orders.length) { %>

                    <% for(const order of orders) { %>
                        <h2># <%= order._id%> - <a href="/orders/<%= order._id %>">Invoice</a>
                        </h2>
                        <ul>
                            <% for(const product of order.products) { %>
                                <li>
                                    <%= product.productData.title %> (<%= product.quantity %>)
                                </li>
                                <% } %>
                        </ul>
                        <% } %>

                            <% } else { %>
                                <h1>Nothing there!</h1>
                                <% } %>
            </main>
            <%- include('../includes/end.ejs') %>